html {
	font-family: Helvetica, sans-serif;
	color: white;
	background: url("boot.jpg") no-repeat center center fixed;
	background-size: cover;
	text-shadow: 1px 1px black;
	background-color: black;
}

dd, dt {
	display: inline-block;
}

dt {
	font-weight: bold;
}

a:visited {
	color: white;
}